body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd5b5; /* Beige background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.envelope-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Increased max-width for larger envelope */
  padding-top: 75%; /* Adjust as needed for envelope aspect ratio */
}

.envelope-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center top;
}

.invite-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.invite-text {
  color: #333;
}

h1 {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  color: #4e3fa2;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
  width: 80%;
  text-align: left;
  max-width: 400px;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.radio-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group label {
  margin-right: 15px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #4e3fa2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #372f8b;
}