/* General styling */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd5b5; /* Beige background */
}

.invite-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden; /* Ensure contents don't overflow */
}

/* Envelope Image */
.envelope-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: -5px; /* Overlap the envelope and content slightly */
}

.envelope-image {
    position: relative;
    width: 120%; /* Increase width to prevent clipping */
    left: -10%;   /* Shift image to the left */
    max-width: none;
}

/* Invite Text */
.invite-text {
    padding: 20px;
    color: #333;
}

/* Typography */
h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    color: #4e3fa2;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
    width: 80%;
    text-align: left;
    max-width: 400px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-group label {
    margin-right: 15px;
}

.radio-group input[type="radio"] + label {
    margin-right: 30px;
}

/* Button Styling */
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #4e3fa2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #372f8b;
}
