<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP for {{ event.name }}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-52ZJ7PXYEC"></script>
    <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','G-52ZJ7PXYEC');</script>
    <link rel="stylesheet" href="/static/color_schemes.css">
    <link rel="stylesheet" href="/static/invitation.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body class="color-scheme-{{ event.color_scheme }}">
    <div class="envelope-container">
        <img src="{{ url_for('static', filename='env_' + event.color_scheme + '.png') }}" alt="Envelope" class="envelope-image">
        <div class="invite-container">
            <div class="invite-text">
                <h1>You're Invited!</h1>
                <h2>{{ event.name }}</h2>
                <div class="event-details">
                    <p><strong>Date:</strong> {{ event.date }} at {{ event|format_time }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <div>{{ event.description_html | safe }}</div>
                </div>
                <form action="{{ url_for('rsvp', slug=event.slug) }}" method="POST">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    
                    <div class="hidden">
                        <input type="text" id="website" name="website" tabindex="-1" autocomplete="off">
                    </div>
                    
                    <div class="form-group attendance-group">
                        <div class="radio-group">
                            <label>Will you attend?</label>
                            <div class="radio-options">
                                <input type="radio" id="yes" name="attending" value="yes" required>
                                <label for="yes">Yes</label>
                                <input type="radio" id="no" name="attending" value="no" required>
                                <label for="no">No</label>
                            </div>
                        </div>
                        <div class="guests-input" id="guestsInputContainer" style="display: none;">
                          <div class="guest-count-input">
                              <label for="num_adults">Number of Adults</label>
                              <input type="number" id="num_adults" name="num_adults" min="1" value="1" required>
                          </div>
                          <div class="guest-count-input">
                              <label for="num_children">Number of Children</label>
                              <input type="number" id="num_children" name="num_children" min="0" value="0" required>
                          </div>
                      </div>
                      <div class="form-group dietary-restrictions" style="display: none;" id="dietaryContainer">
                          <label for="dietary_restrictions">Dietary Restrictions <span class="optional-label">(optional)</span></label>
                          <textarea 
                              id="dietary_restrictions" 
                              name="dietary_restrictions" 
                              placeholder="Please let us know about any dietary restrictions or allergies we should be aware of."
                              rows="4"
                          ></textarea>
                      </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="comment">Message for the Host <span class="optional-label">(optional)</span></label>
                        <textarea
                            id="comment"
                            name="comment"
                            placeholder="Anything you'd like us to know?"
                            rows="3"
                        ></textarea>
                    </div>

                    <button type="submit">Submit RSVP</button>
                </form>
            </div>
        </div>
        <div class="attendees-container">
          <h3>Who's Going?</h3>
          <ul class="attendees-list">
              {% for attendee in attendees %}
              <li data-guest-info="{{ attendee.guest_info }}">{{ attendee.first_name }} {{ attendee.last_initial }}.</li>
              {% endfor %}
          </ul>
      </div>
    </div>
    <script src="/static/rsvp.js"></script>
</body>
</html>