<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Your RSVP!</title>
    <link rel="stylesheet" href="/static/color_schemes.css">
    <link rel="stylesheet" href="/static/invitation.css">
    <link rel="stylesheet" href="/static/thank_you.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body class="color-scheme-{{ event.color_scheme }}">
    <div class="envelope-container">
        <img src="{{ url_for('static', filename='env_' + event.color_scheme + '.png') }}" alt="Envelope" class="envelope-image">
        <div class="thank-you-container">
            <div class="emoji">
                {% if attending == 'yes' %}
                🎉
                {% elif attending == 'no' %}
                😢
                {% else %}
                🤷‍♂️
                {% endif %}
            </div>
            <h1 class="thank-you-message">Thank You, {{ name }}!</h1>
            <p class="personalized-message">
                {% if attending == 'yes' %}
                    We're thrilled that you'll be joining us for {{ event.name }}!
                    {% set total_guests = num_adults|int + num_children|int %}
                    {% if total_guests > 1 %}
                        We can't wait to see you and your 
                        {% if num_adults|int > 1 %}{{ num_adults|int - 1 }} additional adult{% if num_adults|int > 2 %}s{% endif %}{% endif %}
                        {% if num_adults|int > 1 and num_children|int > 0 %}and {% endif %}
                        {% if num_children|int > 0 %}{{ num_children }} child{% if num_children|int > 1 %}ren{% endif %}{% endif %}
                        there and share this special moment together.
                    {% else %}
                        We can't wait to see you there and share this special moment together.
                    {% endif %}
                {% elif attending == 'no' %}
                    We're sorry you won't be able to make it to {{ event.name }}, but we appreciate you letting us know.
                    You'll be missed, and we hope to see you soon!
                {% else %}
                    Not sure how you managed to fill out the form without saying whether you're going or not. Please contact davidfwatson@gmail.com
                {% endif %}
            </p>
            {% if attending == 'yes' %}
            <div class="event-details">
                <h3>Event Details:</h3>
                <p><strong>Date:</strong> {{ event.date }} at {{ event.time }}</p>
                <p><strong>Location:</strong> {{ event.location }}</p>
                <div>{{ event.description_html | safe }}</div>
                
                <div class="calendar-buttons">
                    <h4>Add to Calendar:</h4>
                    <div class="calendar-options">
                        <a href="{{ url_for('generate_google_calendar_link', slug=event.slug) }}" target="_blank" class="calendar-button google-calendar">
                            <img src="{{ url_for('static', filename='google_calendar_icon.png') }}" alt="Google Calendar">
                            Google Calendar
                        </a>
                        <a href="{{ url_for('download_ics_file', slug=event.slug) }}" class="calendar-button apple-calendar">
                            <img src="{{ url_for('static', filename='apple_calendar_icon.png') }}" alt="Apple Calendar">
                            Apple/Outlook Calendar
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if dietary_restrictions %}
            <div class="dietary-notes">
                <h4>Dietary Restrictions Noted:</h4>
                <p>{{ dietary_restrictions }}</p>
            </div>
            {% endif %}
            <a href="{{ url_for('index', slug=request.view_args['slug']) }}" class="button">Back to Event Page</a>
        </div>
    </div>
</body>
</html>